<!-- The sidebar -->
<div class="sidebar">
    <a routerLink="/badges" id="b" (click)="setActive('badges')"><img src="assets/icons/badge.svg" width="40" height="40" style="padding-right: 5px;">Badges</a>
    <a routerLink="/friends" id="f" (click)="setActive('friends')"><img src="assets/icons/friend.svg" width="40" height="40" style="padding-right: 5px;">Friends</a>
    <a routerLink="/rewards" id="r" (click)="setActive('rewards')"><img src="assets/icons/reward2.svg" width="40" height="40" style="padding-right: 5px;">Rewards</a>
    <a href="https://www.amazon.com/gp/help/customer/display.html?nodeId=G6LDPN7YJHYKH2J6"  id="l" (click)="setActive('benefits')"><img src="assets/icons/paper.svg" target ="_blank" width="40" height="40" style="padding-right: 5px;">Learn More About Prime Benefits</a>
  </div>
  